<img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg">

<center> <font color= #004A94> <font size = 6> Lic. Ingeniería Financiera </font> <br> <br> <font color= #047CFB> <font size = 4>I.F. María Fernanda Pinedo Talango - if705971@iteso.mx </font>

<center><font color= #004A94> <font size = 6> Microestructura y Sistemas de Trading </font> <br> <br>

<center><font color=#42c29b><font size=5> Laboratorio 2: Behavioral Finance </font> <br> <br>

<center> <font color= #047CFB> <font size = 4> Primavera 2020 </font>  |  <font color= #047CFB> <font size = 4> Repositorio: <a href='https://github.com/'>https://github.com/ferpinedot/LAB_2_MFPT</a></font>

# Abstract

In [9]:
import funciones as fn
import pandas as pd

In [10]:
datos = fn.f_leer_archivo(param_archivo = 'archivo_tradeview_1.xlsx', sheet_name = 0)

In [11]:
datos

,order,opentime,type,size,symbol,openprice,s/l,t/p,closetime,closeprice,commission,taxes,swap,profit
0,24316034,2019.08.27 06:57:50,buy,0.04,xauusd,1529.21000,1523.000,1543.0000,2019.08.27 09:16:01,1533.69000,0.0,0,0,17.92
1,24334215,2019.08.27 17:06:20,buy,0.01,eurjpy,117.66400,116.950,118.7000,2019.08.29 06:38:16,117.37400,0.0,0,0,-2.73
2,24342155,2019.08.27 19:25:39,buy,0.05,eurjpy,117.34600,116.950,119.7000,2019.08.28 21:01:24,117.45200,0.0,0,0,5.00
3,24373260,2019.08.28 17:11:33,buy,0.01,eurusd,1.10791,1.104,1.1175,2019.08.29 06:38:28,1.10818,0.0,0,0,0.27
4,24392415,2019.08.29 06:35:27,buy,0.01,gbpusd,1.22024,1.208,1.2370,2019.08.29 06:37:23,1.21990,0.0,0,0,-0.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,25148355,2019.09.24 20:09:52,sell,0.06,xauusd,1532.02000,1538.000,0.0000,2019.09.24 21:18:43,1525.66000,0.0,0,0,38.16
80,25148480,2019.09.24 20:11:20,sell,0.02,xauusd,1531.50000,1538.000,0.0000,2019.09.24 21:18:46,1525.63000,0.0,0,0,11.74
81,25148522,2019.09.24 20:12:41,sell,0.01,xauusd,1531.86000,1538.000,0.0000,2019.09.24 21:18:49,1525.66000,0.0,0,0,6.20
82,25159294,2019.09.25 01:53:47,sell,0.06,xauusd,1531.06000,1537.000,0.0000,2019.09.25 15:24:31,1527.40000,0.0,0,0,21.96
83,25159303,2019.09.25 01:54:46,sell,0.01,xauusd,1531.28000,1537.000,0.0000,2019.09.25 15:24:35,1527.36000,0.0,0,0,3.92